openapi: 3.0.3
info:
  title: Toy Social Gateway Service API
  description: |-
    [The Social Network project repository](https://github.com/ninaiad/toy-social)
  version: 2.0.0

tags:
  - name: user
  - name: posts
  - name: statistics
  - name: healthchecking

paths:
  /hello:
    get:
      tags:
      - healthchecking
      summary: Handle for healthchecking
      responses:
        '200':
          description: Service is healthy
          content:
            text/plain:
              schema:
                type: string
                example: Hello!
  /user/sign-up:
    post:
      tags:
        - user
      summary: Creates user and logs them in
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
            examples:
              minimal:
                summary: Minimal example
                value:
                  username: bluefinch11
                  password: vEryStr0ngP4ssw0Rd1ndEEd
              Full Version:
                $ref: '#/components/schemas/User'

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example: {"token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTAzMDQyODksImlhdCI6MTcxMDI2MTA4OSwidXNlcl9pZCI6MX0.UPcmCBOs46im7zGz3gjQmkp4MXzE7jw5Z72aJMqDTP0",
                  "user_id": 13
                }
        '400':
          description: Wrong input format
        '500':
          description: Internal server error
  /user/sign-in:
    post:
      tags:
        - user
      summary: Log user into the system
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInInput'

      responses:
        '200':
          description: "Successful operation: logs the user in and returns Bearer token and their ID"
          content:
            application/json:
              schema:
                type: object
                example: {"token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MTAzMDQyODksImlhdCI6MTcxMDI2MTA4OSwidXNlcl9pZCI6MX0.UPcmCBOs46im7zGz3gjQmkp4MXzE7jw5Z72aJMqDTP0", "user_id": 13}
        '400':
          description: Wrong input format or user with provided username and password doesn't exist
        '500':
          description: Internal server error
  /user:
    put:
      security:
        - bearerAuth: []
      tags:
        - user
      summary: Update user data
      description: Operation accessible only to logged in users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPublic'
            examples:
              Minamal Example:
                summary: Minimal example
                value:
                  name: Lærke
              Full Version:
                $ref: '#/components/schemas/UserPublic'
      responses:
        '200':
          description: "Successful operation: returns all visible public user data, including the fields that weren't updated"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPublic'
        '400':
          description: Wrong input format
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /user/posts{page_num}{page_size}{author_id}:
    get:
      security:
        - bearerAuth: []
      tags:
        - posts
      description: Operation accessible only to logged in users
      parameters:
        - in: path
          name: page_num
          schema:
            type: integer
          required: true
          description: Page number
        - in: path
          name: page_size
          schema:
            type: integer
          required: true
          description: Number of posts on a page
        - in: path
          name: author_id
          schema:
            type: integer
          required: false
          description: Author of the post id. If not specified the logged in user's id is used instead
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfPosts'
        '400':
          description: Wrong input format
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /post:
    post:
      security:
        - bearerAuth: []
      tags:
        - posts
      summary: Create a new post
      description: Operation accessible only to logged in users
      requestBody:
        content:
          application/json:
              schema:
                type: object
                example: {"text" : "My first post! Hello world!"}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example: {"post_id" : 123}
        '400':
          description: Wrong input format
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /post{id}{author_id}:
    get:
      security:
        - bearerAuth: []
      tags:
        - posts
      description: Operation accessible only to logged in users
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: id of the post to get
        - in: path
          name: author_id
          schema:
            type: integer
          required: false
          description: Author of the post id. If not specified the logged in user's id is used instead
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example: {
                  "text" : "My first post! Hello world!",
                  "time_updated": "2024-03-18T21:54:42.123Z"
                }
        '400':
          description: Wrong input format
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /post{id}:
    put:
      security:
        - bearerAuth: []
      tags:
        - posts
      description: Operation accessible only to logged in users
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        description: New post data
        content:
          application/json:
              schema:
                type: object
                example: {
                  "text" : "Updated text!"
                }
      responses:
        '200':
          description: OK
        '400':
          description: Wrong input format
        '500':
          description: Internal server error
    delete:
      security:
        - bearerAuth: []
      tags:
        - posts
      description: Operation accessible only to logged in users
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK
        '400':
          description: Wrong input format
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /post/statistics{id}:
    get:
      security:
        - bearerAuth: []
      tags:
        - statistics
      description: Operation accessible only to logged in users
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostStatistics'
        '400':
          description: Wrong input format
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /post/view{id}{author_id}:
    post:
      security:
        - bearerAuth: []
      tags:
        - posts
      description: Operation accessible only to logged in users
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: author_id
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example: {"status" : "ok"}
        '400':
          description: Wrong input format
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /post/like{id}{author_id}:
    post:
      security:
        - bearerAuth: []
      tags:
        - posts
      description: Operation accessible only to logged in users
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: author_id
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                example: {"status" : "ok"}
        '400':
          description: Wrong input format
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /posts/statistics/posts{k}{event_type}:
    get:
      security:
        - bearerAuth: []
      tags:
        - statistics
      description: Operation accessible only to logged in users
      parameters:
        - in: path
          name: k
          description: Number of posts to return
          schema:
            type: integer
          required: true
        - in: path
          name: event_type
          schema:
            type: string
            enum: [like, view]
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopKPosts'
        '400':
          description: Wrong input format
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /posts/statistics/users{k}{event_type}:
    get:
      security:
        - bearerAuth: []
      tags:
        - statistics
      description: Operation accessible only to logged in users
      parameters:
        - in: path
          name: k
          description: Number of users to return
          schema:
            type: integer
          required: true
        - in: path
          name: event_type
          schema:
            type: string
            enum: [like, view]
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopKUsers'
        '400':
          description: Wrong input format
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
components:
  schemas:
    User:
      type: object
      properties:
        username:
          type: string
          example: bluefinch11
        password:
          type: string
          example: 'vEryStr0ngP4ssw0Rd1ndEEd'
        name:
          type: string
          example: Ida
        surname:
          type: string
          example: Blue
        birthday:
          description: Date in ISO8601 format
          type: string
          example: '2001-02-18T21:54:42.123Z'
        email:
          type: string
          example: ida@something.com
        phone:
          type: string
          example: '+453099572654'
    SignInInput:
      type: object
      properties:
        username:
          type: string
          example: bluefinch11
        password:
          type: string
          example: 'vEryStr0ngP4ssw0Rd1ndEEd'
    UserPublic:
      properties:
        name:
          type: string
          example: Lærke
        surname:
          type: string
          example: Bjørn
        birthday:
          description: Date in ISO8601 format
          type: string
          example: '2001-02-18T21:54:42.123Z'
        email:
          type: string
          example: some@email.com
        phone:
          type: string
          example: '+453489572923'
    PageOfPosts:
      properties:
        page_num:
          type: integer
          example: 1
        page_size:
          type: integer
          example: 5
        posts:
          type: array
          items:
            type: object
            example: {
              "text" : "My first post! Hello world!",
              "time_updated": "2024-03-18T21:54:42.123Z"
            }
    PostStatistics:
      type: object
      properties:
        id:
          type: number
          example: 13
        author_id:
          type: number
          example: 123
        author_login:
          type: string
          example: bluefinch
        num_likes:
          type: number
          example: 555     
        num_views:
          type: number
          example: 12321
    UserStatistics:
      type: object
      properties:
        id:
          type: number
          example: 123
        login:
          type: string
          example: bluefinch
        num_likes:
          type: number
          example: 555
        num_views:
          type: number
          example: 12321
    TopKPosts:
      type: array
      items:
        $ref: '#/components/schemas/PostStatistics'
    TopKUsers:
      type: array
      items:
        $ref: '#/components/schemas/UserStatistics'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
